<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img id="me" src="../img/me.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Amateur chef, coffee connoisseur, explorer, tech lover!</h2>
        <p class="lead">Following university in 2006, I entered the working world as a full time retail employee and a part camera operator for the local government television station.</p>
        <p class="lead">After  several years of working my way up to  entry-level management and foregoing a career in media, I had an epiphany - my wife!</p>
        <p class="lead">Upon arrival in the UK, it was decided that furthering my education was necessary to excel my career and technology has always been something I have been interested in.</p>
        <p class="lead">During my time at General Assembly, I have learnt how to code and make web apps. As I continue  my development career, I am searching for an organisation that will allow me to carry on learning through an Agile environment and my new found passion- tech development!</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
