<section class="holding">
    <div class="container">
        <div class="holding__card card mt-4 mb-4 mx-auto">
            <img src="../img/bitmoji-chef.png" alt="bitmoji-chef"
                class="holding__card--image card-img-top img-fluid rounded" />
            <div class="holding__card--body card-body">
                <h3 class="card-title">Thanks for visiting.</h3>
                <h4 class="card-subtitle">A new site is coming soon!</h4>
            </div>
        </div>
    </div>
</section>
