<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>My Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://github.com/sedstan/wdi-ldn-project-4-camp-social">
                <img class="img-portfolio img-responsive" src="img/campsocial.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://wherearetheunicorns.herokuapp.com/">
                <img class="img-portfolio img-responsive" src="img/unicorn.png">
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://just-had.herokuapp.com/">
                <img class="img-portfolio img-responsive" src="img/just-had.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://wordscuttle.herokuapp.com/">
                <img class="img-portfolio img-responsive" src="img/wordscuttle.png">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#footer" class="btn btn-dark btn-lg">Contact</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
