<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>My Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://github.com/sedstan/wdi-ldn-project-4-camp-social">
                <img class="img-portfolio img-responsive" src="img/campsocial.png">
              </a><br>
              <p class="lead">Camp Social</p>
              <p>This mobile first web app is a social and review camping site. It uses a web crawler to browse two other sites and store in the back-end and is delivered to the front-end. It is built with the MEAN stack. The front-end uses a boot-strap template.</p>
                <li>
                  <a href="https://github.com/{{ site.github_username }}/wdi-ldn-project-4-camp-social"><i class="fa fa-github fa-fw fa-3x"></i></a>
                </li>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://wherearetheunicorns.herokuapp.com/">
                <img class="img-portfolio img-responsive" src="img/unicorn.png">
              </a><br>
              <p class="lead">Unicorn</p>
              <p>This web app is a site to search for workspaces or startups. This three person group project uses the Google Maps/Places APIs to fetch data to add to our API. It is then delivered to our front-end. This project was built with MongoDB, Express and Node on the back-end. We used Materialize on the front-end coupled Grunt to compile our Sass into CSS 3 and HTML 5.</p>
              <li>
                <a href="https://github.com/adjknowles/Unicorn"><i class="fa fa-github fa-fw fa-3x"></i></a>
              </li>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://just-had.herokuapp.com/">
                <img class="img-portfolio img-responsive" src="img/just-had.png">
              </a><br>
              <p class="lead"> Just Had</p>
              <p>This mobile first web app is a social networking app for Foodies. It allows a user to upload a photo and comment on a meal or drink they just had. The user can see all of the suggestions made by other users and the location of the meal. Additionally, it provides the user with suggestions in five mile radius of the post. The app was built using Ruby on Rails with Foundation on the front-end.</p>
              <li>
                <a href="https://github.com/{{ site.github_username }}/WDI_LDN_PROJECT_2"><i class="fa fa-github fa-fw fa-3x"></i></a>
              </li>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://wordscuttle.herokuapp.com/">
                <img class="img-portfolio img-responsive" src="img/wordscuttle.png"></a><br>
                <p class="lead">Word Scuttle</p>
                <p>This web app is a simple JavaScript, single-player word challenge game. The user is dealt a hand and must make a word using no more than seven letters.</p>
                <li>
                  <a href="https://github.com/{{ site.github_username }}/wdi-ldn-project-1"><i class="fa fa-github fa-fw fa-3x"></i></a>
                </li>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
          <a href="#footer" class="btn btn-dark btn-lg">Contact</a>
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
